@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');
// "Familjen Grotesk" and "Cormorant Garamond" fonts

$main-font: 'Familjen Grotesk', sans-serif;
$secondary-font: 'Cormorant Garamond', serif;
$orange: #ef6a61;
$invert-orange: #117a81;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $main-font;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}
