@use 'base';

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;

  .title {
    @include base.title();
    opacity: 0;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 20px;
    @include base.body-sm();

    a {
      color: #000;
      text-decoration: none;
      mix-blend-mode: difference;

      &:not(.active) {
        opacity: 0.2;
      }
    }
  }
}

main#gallery {
  position: relative;
  z-index: 99;

  .top {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100vh;

    .title {
      position: fixed;
      z-index: 999;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include base.title();
    }
  }

  .gallery {
    width: 100%;
    height: 1564px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;

    .image {
      position: absolute;
      overflow: hidden;

      img {
        height: 100%;
      }

      &:nth-child(1) {
        height: 426px;
        z-index: 1;
      }

      &:nth-child(2) {
        height: 312px;
        z-index: 1;
      }

      &:nth-child(3) {
        height: 470px;
        z-index: 1;
      }

      &:nth-child(4) {
        height: 223px;
        z-index: 1;
      }

      &:nth-child(5) {
        height: 237px;
        z-index: 9;
      }

      &:nth-child(6) {
        height: 286px;
        z-index: 1;
      }

      &:nth-child(7) {
        height: 324px;
        z-index: 1;
      }
    }
  }

  .bottom {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    .nav {
      display: flex;
      align-items: center;
      gap: 4px;
      @include base.body-sm();

      & > div:not(.active) {
        opacity: 0.2;
      }

      .list,
      .grid {
        cursor: pointer;
      }
    }

    .copyright {
      @include base.body-sm();
      text-transform: none;
      opacity: 0.2;
    }
  }
}
